{% extends "base.html" %}
{% load static %}

{% block content %}




  
    <div class="pagename">
        <div class="container mt-4" style="display: flex;">
            <div>
                <p>
                    <a href="#" style="text-decoration: none; 
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color: rgba(109, 109, 109, 1);

            ">Home</a>
                    <i class="bi bi-chevron-right" style="color: rgba(109, 109, 109, 1);"></i>
                    <a href="#" style="text-decoration: none;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color:  rgba(109, 109, 109, 1);
        ;">Camera</a>
                </p>
            </div>
            <div>
                <i class="bi bi-chevron-right" style="color: rgba(109, 109, 109, 1);"></i>
                <a href="#" style="text-decoration: none;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color: rgba(109, 109, 109, 1);
        ;">SONY PXW-X200 Full Camera Kit</a>
                </p>
            </div>
            <div>
                <i class="bi bi-chevron-right" style="color: rgba(109, 109, 109, 1);"></i>
                <a href="#" style="text-decoration: none;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color: rgba(0, 84, 148, 1)
        ;">Check out</a>
                </p>
            </div>
        </div>
    </div>
    <div class="form mb-5">
        <div class="container">
            <div class="row too">
                <div class="col-lg-8 col-md-12">
                <h1 class="checkh1">Checkout</h1>


                    <div class="row  mt-3 "> 
                          <div class="col-lg-6 col-md-12 " >
                        <label for="id_username">Username:</label>
                        <input type="text" name="username" style="width: 100%;height: 50px;">
                    </div>




                        <div class="col-lg-6 col-md-12 " >
                            <label for="id_username">Last Name:</label>
                            <input type="text" name="username" style="width: 100%;height: 50px;">
                        </div>
    
                        </div>

                        <div class="row  mt-3 "> 
                            <div class="col-lg-6 col-md-12 " >
                          <label for="id_username">email:</label>
                          <input type="text" name="username" style="width: 100%;height: 50px;">
                      </div>
  
  
  
  
                          <div class="col-lg-6 col-md-12 " >
                              <label for="id_username">Mobile NUmber:</label>
                              <input type="text" name="username" style="width: 100%;height: 50px;">
                          </div>
      
                          </div>                    <div class="row  mt-3 "> 
                            <div class="col-lg-6 col-md-12 " >
                          <label for="id_username">address:</label>
                          <input type="text" name="username" style="width: 100%;height: 50px;">
                      </div>
  
  
  
  
                          <div class="col-lg-6 col-md-12" >
                              <label for="id_username">country:</label>
                              <input type="text" name="username" style="width: 100%;height: 50px;">
                          </div>
      
                          </div>
                                <label for="">Note to lender</label>
                                <textarea name="description" style="width: 100%; height: 150px; border-radius: 12px;border: 1px solid #d4d4d4;"></textarea>

















                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="check_oder">
                        <div class="check_box">
                            <h1>Low Rider Bikes For Set Props</h1>
                            <h2 class="pt-2">Bikes in Hong Kong</h2>
                            <div class="pt-5" style="display: flex; align-items: center;">
                                <h3>7 days 23 Nov - 30 Now</h3>
                                <h4>Change</h4>
                            </div>
                            <hr>
                            <div class="coor" style="padding-top: 20px;">
                                <div>
                                    <div style="display: flex; align-items: center;">
                                        <h2 style="font-size: medium;">$210.00 x 7days</h2>
                                        <h3 style="margin-left: auto;">$1,952.66</h3>
                                    </div>
                                    <div>
                                        <div style="display: flex; align-items: center;">
                                            <h2 style="font-size: medium;">Services Charges</h2>
                                            <h3 style="margin-left: auto;">$0.00</h3>
                                        </div>
                                        <div>
                                            <div style="display: flex; align-items: center;">
                                                <h2 style="font-size: medium;">Extended rental discount</h2>
                                                <h3 style="margin-left: auto;">$4.00</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div>
                                        <div style="display: flex; align-items: center;">
                                            <p>Total</p>
                                            <h6 style="margin-left: auto; 
                                        font-family: Poppins;
                                        font-size: 28px;font-weight: 600;color:rgba(0, 84, 148, 1);"> $1956.00</h6>
                                        </div>
                                        <h2 style="float: right;">Have a promo code?</h2>
                                        <button type="button" style="width: 100%; background-color: rgba(0, 84, 148, 1); color: white;font-family: Poppins;
                                        font-size: 18px;
                                        font-weight: 700;     
                                        ;" class="btn">  <a href="{% url '' %}" style="text-decoration: none; color: white;"> Place Oder </a></button>
                                        <p class="check_box" style="color: #969696;
                                        ">By pressing "place order" you agree to the Terms of Use and other relevant policies.</p>
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>


<div> </div>





            {% endblock %}