{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-7">
            <div class="text-left">
                <div class="headings">
                    <h2>Rent <span class="span_blue"> Cameras</span></h2>
                    <h2> From <span class="span_blue"> People </span> In</h2>
                    <h2>Your Community</h2>
                </div>
                <h6
                    style="font-family: Montserrat;font-size: 16px;font-weight: 400;color: rgba(74, 82, 90, 1);"
                    class="pt-5"> Enjoy the item without the burden to</h6>
                <h6 style="font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 400;
                  
                    color: rgba(74, 82, 90, 1);"> own and at a fraction of the
                    price.</h6>
            </div>
        </div>
        <div class="col-md-5" style="padding-right: 0%;">
            <div
                style="height: 500px;background: linear-gradient(0deg, #F0F0F0, #F0F0F0),
                linear-gradient(0deg, #EDF7FE, #EDF7FE);
                
                border-bottom-left-radius: 130px;
                "></div>
        </div>
    </div>
</div>
<div class="sharethejoy">
    <div class="container mt-5" style="max-width: 800px;">
        <div class="row">
            <div class="col-sm text-center">
                <img src="{% static 'image/nav/image 25.png' %}" class="img "
                    alt="Image 1">
                <div class="text-center home_ma">
                    <h1> Share the Joy</h1>
                    <h2>grow closer</h2>
                    <h2>Take part in the community.</h2>
                </div>
            </div>
            <div class="col-sm text-center">
                <img src="{% static 'image/nav/image 26.png' %}" class="img"
                    alt="Image 1">
                <div class="text-center home_ma">
                    <h1> Save money</h1>
                    <h2>Buy less. Rent on demand for </h2>
                    <h2>fraction of the price.</h2>
                </div>
            </div>
            <div class="col-sm text-center">
                <img src="{% static 'image/nav/image 27.png' %}" class="img"
                    alt="Image 1">
                <div class="text-center home_ma">
                    <h1> Help the planet</h1>
                    <h2>Live greener. Reduce waste.</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="center2">
        <div class="row">
            <div class="col-lg-6 col-sm-12">

                <div style="max-width: 500px; margin-left: auto;">
                    <h1 class="before_rental">Rent to Save and Be Green</h1>
                    <div class="mt-2">
                        <h2 class="para_before_rental"><span>Elephant Please
                                provides a secured online platform where you can
                                enjoy a diverse range of items
                                at an affordable price. Renting allows you to
                                enjoy items without worrying about budgets and
                                storage problems. Not to mention that you can
                                try out different things without buying all of
                                them; for example, rent different camera lenses
                                to obtain various effects.</span></h2>
                    </div>
                </div></div>
                <div class="col-lg-6 col-sm-12 mt-5">
                    <div class="right_img_main">
                        <img src="{% static 'image/nav/Bg.png' %}"
                            alt="...">
                        <div class="bg_div"></div>
                    </div>
                </div>
            
        </div>
    
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 mt-5">
                        <div class="left_img_main">
                            <img src="{% static 'image/nav/Bg (2).png' %}"
                                alt="...">
                            <div class="bg_div"></div></div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div style="max-width: 500px; margin-left: auto;">
                            <h1 class="before_rental">Rent to Save and Be
                                Green</h1>
                            <div class="mt-2">
                                <h2 class="para_before_rental"><span> Elephant
                                        Please provides a secured online
                                        platform where you can enjoy a diverse
                                        range of items
                                        at an affordable price. Renting allows
                                        you to enjoy items without worrying
                                        about budgets and
                                        storage problems. Not to mention that
                                        you can try out different things without
                                        buying all of
                                        them; for example, rent different camera
                                        lenses to obtain various
                                        effects.</span></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
</div>

<div class="explore_item">
                <div class="container mt-5">
                    <h1>Explore Item Categories</h1>
                    <div
                        style="display: flex; justify-content: space-between; ">

                    <div style="max-width: 500px;">
                        <p class="para_before_rental"><span> Hover and select to view items available to be
                            rented. From Film & Photography to Drones to Clothes & Shoes. If you can think
                            of it, you can find it.</span></p>
                        </div>
                    



                       
                        <div>
                            <button type="button"
                                class="btn btn-outline-primary custom-white-btn">View
                                All</button>
                        </div>
</div>
<div class="row">
                        <div class="col-lg-4">
                            <div class="card border-0">
                                <img
                                    src="{% static 'image/nav/Rectangle 27.png' %}"
                                    class="card-img" alt="Image 1" style>
                                <div class="card-img-overlay"
                                    style="background: linear-gradient(180deg, rgba(0, 84, 148, 0) 0%, #005494 100%);">
                                    <p class="card-text">Film & Photography</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-3">
                                    <img
                                        src="{% static 'image/nav/Rectangle 27.png' %}"
                                        class="card-img" alt="Image 1">
                                </div>
                                <div class="col-lg-3">
                                    <img
                                        src="{% static 'image/nav/Rectangle 27.png' %}"
                                        class="card-img" alt="Image 1">
                                </div>
                                <div class="col-lg-3">
                                    <img
                                        src="{% static 'image/nav/Rectangle 27.png' %}"
                                        class="card-img" alt="Image 1">
                                </div>
                            </div>
                            <!-- Second Row -->
                            <div class="row mt-2">
                                <div class="col-lg-3">
                                    <img
                                        src="{% static 'image/nav/Rectangle 27.png' %}"
                                        class="card-img" alt="Image 1">
                                </div>
                                <div class="col-lg-3">
                                    <img
                                        src="{% static 'image/nav/Rectangle 27.png' %}"
                                        class="card-img" alt="Image 1">
                                </div>
                                <div class="col-lg-3">
                                    <img
                                        src="{% static 'image/nav/Rectangle 27.png' %}"
                                        class="img-fluid" alt="Image 1">
                                </div>
                            </div>
</div>   
 <div class="access mt-5">
                            <div class="container">

                                <div
                                    style="background: rgba(236, 247, 255, 1); border-radius: 32px;">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div style="padding: 40px;">
                                                <h1>Access on the go</h1>
                                                <p>Elephant Please is a
                                                    responsive website, open it
                                                </p>
                                                <p>on any browser and use it on
                                                    your devices. Rent</p>
                                                <p> more, save more. Lend more,
                                                    earn more.</p>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <img
                                                src="{% static 'image/nav/2441 2.png' %}"
                                                class="card-img" alt="Image 1">
                                        </div>
                                    </div>

                                </div>
                            </div>
                     
</div>
               

    <div class="container text-center">
        <h1>rental reviews</h1>

        <p style="max-width: 400px;align-items: center;">To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.</p>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
            

    </div>
    
</div>
</div>
</div>
</div>
</div>
</div>




                

                {% endblock %}