{% extends "base.html" %} {% load static %} {% block content %} <div class="container">
    <div class="links mt-4" style="display: flex;">
        <div>
            <a class="pdp-a" href="#" style="text-decoration: none; 
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color: rgba(109, 109, 109, 1);

            ">Home</a>
            <i class="bi bi-chevron-right" style="color: rgba(109, 109, 109, 1);"></i>
            <a href="#" style="text-decoration: none;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color:  rgba(109, 109, 109, 1);
        ;">Camera</a>
        </div>
        <div>
            <i class="bi bi-chevron-right" style="color: rgba(109, 109, 109, 1);"></i>
            <a href="#" style="text-decoration: none;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color: rgba(0, 84, 148, 1)
        ;">SONY PXW-X200 Full Camera Kit</a>
            </p>
        </div>
    </div>
    <div class="deatails">
        <div class="row">
            <div class="col-lg-7 col-sm-12">
                <img src="{% static 'image/nav/unsplash_178j8tJrNlc (1).png' %}" alt class="img-fluid">
                <div>
                    <div class="row mt-3">
                        <div class="col"><img style="border-radius: 12px;"
                                src="{% static 'image/nav/unsplash_178j8tJrNlc (1).png' %}" alt class="img-fluid"></div>
                        <div class="col"><img style="border-radius: 12px;"
                                src="{% static 'image/nav/unsplash_178j8tJrNlc (1).png' %}" alt class="img-fluid"></div>
                        <div class="col"><img style="border-radius: 12px;"
                                src="{% static 'image/nav/unsplash_178j8tJrNlc (1).png' %}" alt class="img-fluid"></div>
                        <div class="col"><img style="border-radius: 12px;"
                                src="{% static 'image/nav/unsplash_178j8tJrNlc (1).png' %}" alt class="img-fluid"></div>
                        <div class="col"><img style="border-radius: 12px;"
                                src="{% static 'image/nav/unsplash_178j8tJrNlc (1).png' %}" alt class="img-fluid"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12">
                <div class="pdp-container">
                    <div class="pdp-inner">
                        <h1 class="pdp-title">SONY PXW-X200 Full Camera Kit</h1>
                        <p class="pdp-address">Ohio St. 16 H. 435 South Gate, California</p>
                    </div>
                    <div class="pdp-info">
                        <img src="{% static 'image/nav/Group 1961.png' %}" alt="" width="40px" height="40px">
                        <h1 class="pdp-name">Ben in shek O</h1>
                        <img src="{% static 'image/nav/Side Nav icons.png' %}" alt="" width="40px" height="40px">
                    </div>
                    <div class="pdp-rating">
                        <img src="{% static 'image/nav/star_rate.png' %}" alt="" width="20px" height="20px">
                        <p class="pdp-rating-value">4.8</p>
                        <p class="pdp-rating-reviews">(120 reviews)</p>
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-4 col-sm-12 mt-1 ">
                            <div class="pdp-price-container">
                                <p class="pdp-price-type">Daily</p>
                                <p class="pdp-price-value"><span>$60.00</span>/Day</p>
                            </div> 
                        </div>
                        <div class="col-lg-4 col-sm-12 mt-1 ">
                            <div class="pdp-price-container">
                                <p class="pdp-price-type">Weekly</p>
                                <p class="pdp-price-value"><span>$60.00</span>/Weekly</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12 mt-1">
                            <div class="pdp-price-container">
                                <p class="pdp-price-type">Monthly</p>
                                <p class="pdp-price-value"><span>$60.00</span>/Monthly</p>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary mt-2 pdp-check-btn">Check price and availability</button>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>


<div class="paragraph mt-5">
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="pdp-flex-container">
                <h1 class="pdp-heading">Description</h1>
                <h2 class="pdp-heading">Reviews</h2>
            </div>
            <p class="pdp-paragraph">PXW-X200 Camera Kit <br>
                <br> This is the successor to the PMW200. (Please note: Last minute requests to hire the camera
                won’t work. It’s often out on jobs and working out logistics needs some lead time. Please allow
                minimum 24 hours notice)<br><br><br> Product Highlights<br><br> Three 1/2" Exmor CMOS Sensors<br>
                Resolutions up to 1080p at 50 fps<br> 10-Bit 4:2:2 XAVC Intra/Long Codecs<br> MPEG HD422, HD420,
                IMX, & DV Codecs<br> 17x Zoom Lens<br> 29.3-499mm (35mm Equivalent)<br> Dual SxS Memory Card
                Slots<br> 3G-SDI Output / HDMI Output<br> Genlock In, Time Code In/Out<br>
                <br> The Kit includes:<br> 1 x Sony PXW-X200 Camcorder with carry case<br> 1 x Manfrotto tripod with
                carry case<br> 2 x Swit Batteries<br> 1 x Battery charger / power supply<br> 2 x Sony Express Card
                Convertors<br> 3 x 64GB SD Cards 3 x 32GB SD Cards<br> 1 x Rode Filmakers Lapel Mic (receiver +
                transmitter)<br> 1 x Rode top mic<br> 1 x Micro Pro Panel Lite<br>
                <br> NOTE: You will need your own headphones to monitor audio but if you absolutely do not have them
                and require them then we can provide these, but you must request this when booking the kit. The
                entire kit comes with batteries charged up ready to go. All batteries supplied for radio mics.<br>
                <br> The kit is in perfect working order and may have some minor scratches but everything is checked
                and is in full operational order. The minor issues include:<br> 1. The plastic protector that cover
                the audio meters is missing.<br> 2. The top mic / directional mic sits a little loosely in the
                holder.<br>
                <br><br> Drop off and pick up are possible around London / Brighton on request as we are around a
                lot.
            </p>
        </div>
    </div>
</div>

    <div class="mapss">
        <div class="mt-5" style="max-width: 700px;">
            <h1 style="font-family: Montserrat;
            font-size: 20px;
            font-weight: 700;
            line-height: 38px;
            text-align: left;
            ">Address</h1>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54439.22404009505!2d74.25565838813783!3d31.484271231452443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391903ee86619e19%3A0x1df20c73e9c6c4f3!2sJinnah%20Hospital!5e0!3m2!1sen!2s!4v1713532783609!5m2!1sen!2s"
                height="450" style="border:0;width: 100%;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3"> 
            {% include 'components/card.html' %}
        </div>
        <div class="col-lg-3"> 
            {% include 'components/card.html' %}
        </div>
        <div class="col-lg-3"> 
            {% include 'components/card.html' %}
        </div>
        <div class="col-lg-3"> 
            {% include 'components/card.html' %}
        </div>
        <div class="col-lg-3"> 
            {% include 'components/card.html' %}
        </div>
        <div class="col-lg-3"> 
            {% include 'components/card.html' %}
        </div>
    </div>
</div> 











<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Datepicker JS -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

<script>
    $(document).ready(function() {
      // Initialize datepicker
      $('.date').datepicker({
        multidate: true
      });

      // Initialize popover
      $('.pdp-check-btn').popover({
        trigger: 'manual',
        placement: 'bottom',
        container: 'body'
      });

      // Show popover when button is clicked
      $('.pdp-check-btn').click(function() {
        $(this).popover('show');
      });

      // Hide popover when clicking outside
      $(document).on('click', function (e) {
        if ($(e.target).data('toggle') !== 'popover' &&
            $(e.target).parents('.popover.in').length === 0) { 
          $('.pdp-check-btn').popover('hide');
        }
      });

      // Set predefined dates
      $('.date').datepicker('setDates', [new Date(2014, 2, 5), new Date(2014, 3, 5)]);
    });
  </script>














{% endblock %}