{% extends "base.html" %}
{% load static %}

{% block content %}




    <div class="container mt-4" style="display: flex;">
        <div>
            <p>
                <a href="#" style="text-decoration: none; 
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color: rgba(109, 109, 109, 1);

            ">Home</a>
                <i class="bi bi-chevron-right" style="color: rgba(109, 109, 109, 1);"></i>
                <a href="#" style="text-decoration: none;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color:  rgba(109, 109, 109, 1);
        ;">Camera</a>
            </p>
        </div>
        <div>
            <i class="bi bi-chevron-right" style="color: rgba(109, 109, 109, 1);"></i>
            <a href="#" style="text-decoration: none;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color: rgba(0, 84, 148, 1)
        ;">SONY PXW-X200 Full Camera Kit</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-12">
                <img src="{% static 'image/nav/unsplash_178j8tJrNlc (1).png' %}" alt class="img-fluid">
                <div>
                    <div class="row mt-3">
                        <div class="col"><img style="border-radius: 12px;"
                                src="{% static 'image/nav/unsplash_178j8tJrNlc (1).png' %}" alt class="img-fluid"></div>
                        <div class="col"><img style="border-radius: 12px;"
                                src="{% static 'image/nav/unsplash_178j8tJrNlc (1).png' %}" alt class="img-fluid"></div>
                        <div class="col"><img style="border-radius: 12px;"
                                src="{% static 'image/nav/unsplash_178j8tJrNlc (1).png' %}" alt class="img-fluid"></div>
                        <div class="col"><img style="border-radius: 12px;"
                                src="{% static 'image/nav/unsplash_178j8tJrNlc (1).png' %}" alt class="img-fluid"></div>
                        <div class="col"><img style="border-radius: 12px;"
                                src="{% static 'image/nav/unsplash_178j8tJrNlc (1).png' %}" alt class="img-fluid"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12">
                <div style="padding:20px; border: 1px solid rgba(230, 230, 230, 1); border-radius:32px;">
                    <div class=" mt-3">
                        <h1 class="" style="color:rgba(38, 50, 56, 1);font-size:xx-large; font: weight 600px;;">SONY
                            PXW-X200 Full Camera Kit</h1>
                        <p style="font-family: Poppins;
                        font-size:10px;
                        font-weight: 500;
                        text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                    </div>
                    <div style="display: flex;align-items: center; " class="mt-3">
                        <img src="{% static 'image/nav/Group 1961.png' %}" alt="" width="40px" height="40px">
                        <h1 class="ben">Ben in shek O</h1>
                        <img src="{% static 'image/nav/Side Nav icons.png' %}" alt="" width="40px" height="40px">
                    </div>
                    <div class="mt-2" style="display: flex; align-items: center;">
                        <img src="{% static 'image/nav/star_rate.png' %}" alt="" width="20px" height="20px"
                            style="margin-right: 5px;">
                        <p style="margin-right: 5px;">4.8</p>
                        <p
                            style="font-family: Poppins; font-size: 14px; font-weight: 400; color: rgba(204, 204, 204, 1);">
                            (120 reviews)</p>
                    </div>
                    <div class="row mt-2">
                        <div style="padding:20px; border: 1px solid rgba(230, 230, 230, 1); border-radius:16px;"
                            class="col m-1 mt-2">
                            <h1 class="asd">Daily</h1>
                            <h1 class="asdf"><span style="color: #005494;">$60.00 </span>/Day</h1>
                        </div>
                        <div style="padding:20px; border: 1px solid rgba(230, 230, 230, 1); border-radius:16px;"
                            class="col m-1 mt-2">
                            <h1 class="asd">Daily</h1>
                            <h1 class="asdf"><span style="color: #005494;">$60.00 </span>/Day</h1>
                        </div>
                        <div style="padding:20px; border: 1px solid rgba(230, 230, 230, 1); border-radius:16px;"
                            class="col m-1 mt-2">
                            <h1 class="asd">Daily</h1>
                            <h1 class="asdf"><span style="color: #005494;">$60.00 </span>/Day</h1>
                        </div>
                        <button type="button" class="btn mt-4" style="color:white; background: rgba(0, 84, 148, 1);
                                        ">Check price and availability</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    < <div class="container">
        <div class="row">
            <div class="col-8">
                <div style="display:flex ;align-items: center;gap: 20px;">
                    <h1 class="mt-5 " style="font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        color: rgba(38, 50, 56, 1);

        ">Description</h1>
                    <h2 class="mt-5" style="font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 38px;
        text-align: left;
        color: rgba(204, 204, 204, 1);

        "> Reviews</h2>
                </div>
                <p style="
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: rgba(204, 204, 204, 1);
        " class="asdfg">PXW-X200 Camera Kit <br>
                    <br> This is the successor to the PMW200. (Please note: Last minute requests to hire the camera
                    won’t work. It’s often out on jobs and working out logistics needs some lead time. Please allow
                    minimum 24 hours notice)<br><br><br> Product Highlights<br><br> Three 1/2" Exmor CMOS Sensors<br>
                    Resolutions up to 1080p at 50 fps<br> 10-Bit 4:2:2 XAVC Intra/Long Codecs<br> MPEG HD422, HD420,
                    IMX, & DV Codecs<br> 17x Zoom Lens<br> 29.3-499mm (35mm Equivalent)<br> Dual SxS Memory Card
                    Slots<br> 3G-SDI Output / HDMI Output<br> Genlock In, Time Code In/Out<br>
                    <br> The Kit includes:<br> 1 x Sony PXW-X200 Camcorder with carry case<br> 1 x Manfrotto tripod with
                    carry case<br> 2 x Swit Batteries<br> 1 x Battery charger / power supply<br> 2 x Sony Express Card
                    Convertors<br> 3 x 64GB SD Cards 3 x 32GB SD Cards<br> 1 x Rode Filmakers Lapel Mic (receiver +
                    transmitter)<br> 1 x Rode top mic<br> 1 x Micro Pro Panel Lite<br>
                    <br> NOTE: You will need your own headphones to monitor audio but if you absolutely do not have them
                    and require them then we can provide these, but you must request this when booking the kit. The
                    entire kit comes with batteries charged up ready to go. All batteries supplied for radio mics.<br>
                    <br> The kit is in perfect working order and may have some minor scratches but everything is checked
                    and is in full operational order. The minor issues include:<br> 1. The plastic protector that cover
                    the audio meters is missing.<br> 2. The top mic / directional mic sits a little loosely in the
                    holder.<br>
                    <br><br> Drop off and pick up are possible around London / Brighton on request as we are around a
                    lot.
                </p>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="mt-5" style="max-width: 700px;">
                <h1 style="font-family: Montserrat;
            font-size: 20px;
            font-weight: 700;
            line-height: 38px;
            text-align: left;
            ">Address</h1>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54439.22404009505!2d74.25565838813783!3d31.484271231452443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391903ee86619e19%3A0x1df20c73e9c6c4f3!2sJinnah%20Hospital!5e0!3m2!1sen!2s!4v1713532783609!5m2!1sen!2s"
                    height="450" style="border:0;width: 100%;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="container">
            <div class="mt-5">
                <h1 style="font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    ">Other items from Ben</h1>
            </div>
        </div>
        <div class="first">
        <div class="container">
            <div class="row g-4 mt-5">
                <div class="col">
                    <div class="card border-0">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"
                                style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe
                            </p>
                            <h5 style="font-family: Montserrat;
                    font-size: 17px;
                    font-weight: 600;
                    
                    text-align: left;
                    color: rgba(38, 50, 56, 1);

            
                    " class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins;
                        font-size:10px;
                        font-weight: 500;
                        text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"
                                style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe
                            </p>
                            <h5 style="font-family: Montserrat;
                    font-size: 17px;
                    font-weight: 600;
                    
                    text-align: left;
                    color: rgba(38, 50, 56, 1);

            
                    " class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins;
                        font-size:10px;
                        font-weight: 500;
                        text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"
                                style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe
                            </p>
                            <h5 style="font-family: Montserrat;
                    font-size: 17px;
                    font-weight: 600;
                    
                    text-align: left;
                    color: rgba(38, 50, 56, 1);

            
                    " class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins;
                        font-size:10px;
                        font-weight: 500;
                        text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"
                                style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe
                            </p>
                            <h5 style="font-family: Montserrat;
                    font-size: 17px;
                    font-weight: 600;
                    
                    text-align: left;
                    color: rgba(38, 50, 56, 1);

            
                    " class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins;
                        font-size:10px;
                        font-weight: 500;
                        text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div></div>
        <div class="secound">
        <div class="container">
            <div class="row g-4 mt-5">
                <div class="col">
                    <div class="card border-0">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"
                                style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe
                            </p>
                            <h5 style="font-family: Montserrat;
                    font-size: 17px;
                    font-weight: 600;
                    
                    text-align: left;
                    color: rgba(38, 50, 56, 1);

            
                    " class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins;
                        font-size:10px;
                        font-weight: 500;
                        text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"
                                style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe
                            </p>
                            <h5 style="font-family: Montserrat;
                    font-size: 17px;
                    font-weight: 600;
                    
                    text-align: left;
                    color: rgba(38, 50, 56, 1);

            
                    " class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins;
                        font-size:10px;
                        font-weight: 500;
                        text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"
                                style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe
                            </p>
                            <h5 style="font-family: Montserrat;
                    font-size: 17px;
                    font-weight: 600;
                    
                    text-align: left;
                    color: rgba(38, 50, 56, 1);

            
                    " class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins;
                        font-size:10px;
                        font-weight: 500;
                        text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"
                                style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe
                            </p>
                            <h5 style="font-family: Montserrat;
                    font-size: 17px;
                    font-weight: 600;
                    
                    text-align: left;
                    color: rgba(38, 50, 56, 1);

            
                    " class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins;
                        font-size:10px;
                        font-weight: 500;
                        text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    {% endblock %}