{% extends "base.html" %}
 {% load static %}
 {% block content %} 






<div class="container mt-4">
    <p>
        <a href="#" style="text-decoration: none; 
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color: rgba(109, 109, 109, 1);

            ">Home</a>
        <i class="bi bi-chevron-right" style="color: rgba(109, 109, 109, 1);"></i>
        <a href="#" style="text-decoration: none;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color: rgba(0, 84, 148, 1)
        ;">Camera</a>
    </p>
</div>
<div class="container">
    <div class="camera_page_s1 text-center pt-5 pb-5 text-center">
        <h1 class="pt-5">Rent Cameras in Hong Kong </h1>
        <h1>with Elephant Please</h1>
        <p class="text-center pt-3" style="max-width: 500px; margin: 0 auto;">Rent a Camera from a fellow photographer in Hong Kong. Over 50% Cheaper Than Traditional Rental Spend less & Enjoy more</p>

        <section style="max-width: 800px;margin:auto;">
            <div class="container text-center mt-5 search_section ">
                <div class="search-container">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" style="border-radius: 12px;" class="form-control"
                                        placeholder="Search...">
                                    <div class="input-group-append">
                                        <button
                                            style="background: rgba(0, 84, 148, 1);box-shadow: 0px 19px 29px 0px rgba(62, 53, 120, 0.14); "
                                            class="btn" type="button">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<section class="category">
    <div class="container camera_section2" style="margin-top:100px;">
        <h1>Browse Cameras</h1>
        <div style="display: flex; justify-content:space-between;flex-wrap: wrap;flex-direction:column;">
          
                            <div >
                <p>Displaying 18 Results</p>
            </div>
            <div style="display: flex;">
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                        style="color: black; text-decoration:none;"> Sort By: Default Order </a>
                    <ul class="dropdown-menu" style="float: right;">
                        <li><a class="dropdown-item" href="#">  Search byli   </a></li>
                        <li><a class="dropdown-item" href="#">    </a></li>
                        <li><a class="dropdown-item" href="#">     </a></li>
                    </ul>
                </div>
                </div>
                <div>
                    <img src="{% static 'image/nav/menu.png' %}" class="img" alt="...">
                    <img src="{% static 'image/nav/dashboard.png' %}" class="img" alt="...">
                    <img src="{% static 'image/nav/map-pin.png' %}" class="img" alt="...">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="items">
    <div class="container">
        <div class="row g-4 mt-5">
            <div class="col">
                <div class="card border-0">
                    <a style="text-decoration: none;color: black;" href="{% url 'pdp' %}" class="card-link">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text" style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe</p>
                            <h5 style="font-family: Montserrat; font-size: 17px; font-weight: 600; text-align: left; color: rgba(38, 50, 56, 1);" class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins; font-size:10px; font-weight: 500; text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <a style="text-decoration: none;color: black;" href="{% url 'pdp' %}" class="card-link">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text" style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe</p>
                            <h5 style="font-family: Montserrat; font-size: 17px; font-weight: 600; text-align: left; color: rgba(38, 50, 56, 1);" class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins; font-size:10px; font-weight: 500; text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
            <div class="col">
                <div class="card border-0">
                
                    <a style="text-decoration: none;color: black;" href="{% url 'pdp' %}" class="card-link">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text" style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe</p>
                            <h5 style="font-family: Montserrat; font-size: 17px; font-weight: 600; text-align: left; color: rgba(38, 50, 56, 1);" class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins; font-size:10px; font-weight: 500; text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <a style="text-decoration: none;color: black;" href="{% url 'pdp' %}" class="card-link">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text" style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe</p>
                            <h5 style="font-family: Montserrat; font-size: 17px; font-weight: 600; text-align: left; color: rgba(38, 50, 56, 1);" class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins; font-size:10px; font-weight: 500; text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row g-4 mt-5">
            <div class="col">
                <div class="card border-0">
                    <a style="text-decoration: none;color: black;" href="{% url 'pdp' %}" class="card-link">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text" style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe</p>
                            <h5 style="font-family: Montserrat; font-size: 17px; font-weight: 600; text-align: left; color: rgba(38, 50, 56, 1);" class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins; font-size:10px; font-weight: 500; text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <a style="text-decoration: none;color: black;" href="{% url 'pdp' %}" class="card-link">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text" style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe</p>
                            <h5 style="font-family: Montserrat; font-size: 17px; font-weight: 600; text-align: left; color: rgba(38, 50, 56, 1);" class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins; font-size:10px; font-weight: 500; text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
            <div class="col">
                <div class="card border-0">
                
                    <a style="text-decoration: none;color: black;" href="{% url 'pdp' %}" class="card-link">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text" style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe</p>
                            <h5 style="font-family: Montserrat; font-size: 17px; font-weight: 600; text-align: left; color: rgba(38, 50, 56, 1);" class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins; font-size:10px; font-weight: 500; text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <a style="text-decoration: none;color: black;" href="{% url 'pdp' %}" class="card-link">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text" style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe</p>
                            <h5 style="font-family: Montserrat; font-size: 17px; font-weight: 600; text-align: left; color: rgba(38, 50, 56, 1);" class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins; font-size:10px; font-weight: 500; text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div><div class="row g-4 mt-5">
            <div class="col">
                <div class="card border-0">
                    <a style="text-decoration: none;color: black;" href="{% url 'pdp' %}" class="card-link">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text" style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe</p>
                            <h5 style="font-family: Montserrat; font-size: 17px; font-weight: 600; text-align: left; color: rgba(38, 50, 56, 1);" class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins; font-size:10px; font-weight: 500; text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <a style="text-decoration: none;color: black;" href="{% url 'pdp' %}" class="card-link">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text" style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe</p>
                            <h5 style="font-family: Montserrat; font-size: 17px; font-weight: 600; text-align: left; color: rgba(38, 50, 56, 1);" class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins; font-size:10px; font-weight: 500; text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
            <div class="col">
                <div class="card border-0">
                
                    <a style="text-decoration: none;color: black;" href="{% url 'pdp' %}" class="card-link">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text" style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe</p>
                            <h5 style="font-family: Montserrat; font-size: 17px; font-weight: 600; text-align: left; color: rgba(38, 50, 56, 1);" class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins; font-size:10px; font-weight: 500; text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <a style="text-decoration: none;color: black;" href="{% url 'pdp' %}" class="card-link">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text" style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe</p>
                            <h5 style="font-family: Montserrat; font-size: 17px; font-weight: 600; text-align: left; color: rgba(38, 50, 56, 1);" class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins; font-size:10px; font-weight: 500; text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div><div class="row g-4 mt-5">
            <div class="col">
                <div class="card border-0">
                    <a style="text-decoration: none;color: black;" href="{% url 'pdp' %}" class="card-link">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text" style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe</p>
                            <h5 style="font-family: Montserrat; font-size: 17px; font-weight: 600; text-align: left; color: rgba(38, 50, 56, 1);" class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins; font-size:10px; font-weight: 500; text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <a style="text-decoration: none;color: black;" href="{% url 'pdp' %}" class="card-link">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text" style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe</p>
                            <h5 style="font-family: Montserrat; font-size: 17px; font-weight: 600; text-align: left; color: rgba(38, 50, 56, 1);" class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins; font-size:10px; font-weight: 500; text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
            <div class="col">
                <div class="card border-0">
                
                    <a style="text-decoration: none;color: black;" href="{% url 'pdp' %}" class="card-link">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text" style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe</p>
                            <h5 style="font-family: Montserrat; font-size: 17px; font-weight: 600; text-align: left; color: rgba(38, 50, 56, 1);" class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins; font-size:10px; font-weight: 500; text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <a style="text-decoration: none;color: black;" href="{% url 'pdp' %}" class="card-link">
                        <img src="{% static 'image/nav/unsplash_178j8tJrNlc.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text" style="font-family: Poppins; font-size:10px;font-weight: 500;text-align: left;">John Doe</p>
                            <h5 style="font-family: Montserrat; font-size: 17px; font-weight: 600; text-align: left; color: rgba(38, 50, 56, 1);" class="card-title">SONY PXW-X200 Full Camera</h5>
                            <div style="display: flex;">
                                <p style="font-family: Poppins; font-size:10px; font-weight: 500; text-align: left;" class="card-text">Ohio St. 16 H. 435 South Gate, California</p>
                            </div>
                            <div style="display: flex; justify-content:space-between; " class="mt-4">
                                <h5 style="font-weight: 800;" class="card-title">$350</h5>
                                <div> <img src="{% static 'image/nav/star_rate.png' %}" class="img" alt="...">4.8 </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
 
 
</section> 











{% endblock %}