{% extends "base.html" %}
{% load static %} 
{% block content %}



 <div class="container">
    <div class="links mt-4" style="display: flex;">
        <div>  

            <a class="pdp-a" href="#" style="text-decoration: none; 
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color: rgba(109, 109, 109, 1);

            ">Home</a>
            <i class="bi bi-chevron-right" style="color: rgba(109, 109, 109, 1);"></i>
            <a href="#" style="text-decoration: none;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color:  rgba(109, 109, 109, 1);
        ;">Camera</a>
        </div>
        <div>
            <i class="bi bi-chevron-right" style="color: rgba(109, 109, 109, 1);"></i>
            <a href="#" style="text-decoration: none;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color: rgba(0, 84, 148, 1)
        ;">SONY PXW-X200 Full Camera Kit</a>
            </p>
        </div>
    </div>
    <div class="deatails">
        <div class="row">
            <div class="col-lg-7 col-sm-12">
               
                {% if rental_item.image %}
                <img src="{{ MEDIA_URL }}{{ rental_item.image.url }}" style=" max-width: 700px; max-height: 400px;"
              class="card-img-top img-cards1" alt="...">
            {% endif %}
                <div>

                </div>
            </div>
            <div class="col-lg-5 mt-4 col-sm-12">
                <div class="pdp-container">
                    <div class="pdp-inner">
                        <h1 class="pdp-title">{{ rental_item.title }}</h1>
                        <p class="pdp-address">{{ rental_item.location }}</p>
                    </div>
                    <div class="pdp-info">
                        <img src="{% static 'image/nav/Group 1961.png' %}" alt="" width="40px" height="40px">
                        <h1 class="pdp-name">Ben in shek O</h1>
                        <img src="{% static 'image/nav/Side Nav icons.png' %}" alt="" width="40px" height="40px">
                    </div>
                    <div class="pdp-rating">
                        <img src="{% static 'image/nav/star_rate.png' %}" alt="" width="20px" height="20px">
                        <p class="pdp-rating-value">4.8</p>
                        <p class="pdp-rating-reviews">(120 reviews)</p>
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-4 col-sm-12 mt-1 ">
                            <div class="pdp-price-container">
                                <p class="pdp-price-type">Daily</p>
                                <p class="pdp-price-value"><span>${{ rental_item.daily_price }}</span>/Day</p>
                            </div> 
                        </div>
                        <div class="col-lg-4 col-sm-12 mt-1 ">
                            <div class="pdp-price-container">
                                <p class="pdp-price-type">Weekly</p>
                                <p class="pdp-price-value"><span>${{ rental_item.weekly_price }}</span>/Weekly</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12 mt-1">
                            <div class="pdp-price-container">
                                <p class="pdp-price-type">Monthly</p>
                                <p class="pdp-price-value"><span>${{ rental_item.monthly_price }}</span>/Monthly</p>
                            </div>
                        </div>
    
                        <button id="checkBtn" type="button" class="btn btn-primary mt-2 pdp-check-btn">Check price and availability</button>

                        <div id="calendarPopup" class="modal fade">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Complete Calendar</h5>
                               

                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                              </div>
                              <div class="modal-body">
                                <!-- Calendar content will be loaded here -->
                                <div id="calendar"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        










                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
  $("#checkBtn").click(function(){
    $("#calendarPopup").modal("show");
    // Initialize or load your calendar here
    // You can use a library like FullCalendar for this purpose
  });
});
</script>

                    </div>
                </div>
            </div>
            
        </div>
    </div>


<div class="paragraph mt-5">
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="pdp-flex-container">
                <h1 class="pdp-heading">Description</h1>
                <h2 class="pdp-heading">Reviews</h2>
            </div>
            <p class="pdp-paragraph">{{ rental_item.description }}
            </p>
        </div>
        <div class="col-lg-4">

        </div>
    </div>
</div>

    <div class="mapss">
        <div class="mt-5" style="max-width: 700px;">
            <h1 style="font-family: Montserrat;
            font-size: 20px;
            font-weight: 700;
            line-height: 38px;
            text-align: left;
            ">Address</h1>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54439.22404009505!2d74.25565838813783!3d31.484271231452443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391903ee86619e19%3A0x1df20c73e9c6c4f3!2sJinnah%20Hospital!5e0!3m2!1sen!2s!4v1713532783609!5m2!1sen!2s"
                height="450" style="border:0;width: 100%;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>

    </div>
    <div class="row">
        {% include 'components/card1.html' %}

</div>     
    </div>
        </div>
    </div>
</div> 



















{% endblock %}